.scrollup {
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: var(--title-color);
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.scrollup__icon {
    font-size: 1.5rem;
    color: var(--container-color);
}

.scrollup:hover {
    background-color: var(--accent);
}

/* Show scroll */
.show-scroll {
    bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* Large Laptop Devices */
@media screen and (max-width: 1441px) {
    .scrollup {
        right: 1.5rem;
        padding: 0.25rem 0.4rem;
    }

    .scrollup__icon {
        font-size: 1.25rem;
    }
}

/* Laptop Devices */
@media screen and (max-width: 1025px) {}

/* Tablet Devices */
@media screen and (max-width: 769px) {
    .show-scroll {
        bottom: 4rem;
    }

    .scrollup {
        right: 1rem;
    }
}

/* Mobile Devices */
@media screen and (max-width: 426px) {}

/* Small Mobile Devices */
@media screen and (max-width: 320px) {}