.qualification__container {
    /* max-width: 769px; */
}

.qualification__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
}

.qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    background-color: var(--body-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
    transition: color .2s ease;
}

.qualification__button:hover {
    color: var(--accent);
}

.qualification__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification__active {
    color: var(--accent);
    border-bottom: 0.1rem solid var(--accent);
}

.qualification__sections {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.qualification__content {
    display: none;
}

.qualification__content-active {
    display: block;
}

.qualification__data {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    justify-content: center;
    gap: 1rem;
}

.qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification__calender {
    text-align: right;
    font-size: var(--small-font-size);
}

.qualification__timeline {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.qualification__rounder {
    display: inline-block;
    width: var(--round-size);
    height: var(--round-size);
    background-color: var(--text-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--text-color);
}

/*=============== BREAKPOINTS ===============*/
/* Large Laptop Devices */
@media screen and (max-width: 1441px) {
    .qualification__container {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Laptop Devices */
@media screen and (max-width: 1025px) {
    .qualification__sections {
        grid-template-columns: initial;
    }

    .qualification__button {
        margin: 0 var(--mb-0-75);
    }


}

/* Tablet Devices */
@media screen and (max-width: 769px) {
    .qualification__container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .qualification__data {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .qualification__timeline {
        display: none;
    }
}

/* Mobile Devices */
@media screen and (max-width: 426px) {
    .qualification__data {
        grid-template-columns: 1fr;
    }

    .qualification__calender {
        text-align: center;
    }

    .qualification__title {
        text-align: center;
    }

    .qualification__subtitle {
        width: 100%;
        text-align: center;
    }
}

/* Small Mobile Devices */
@media screen and (max-width: 320px) {}