@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #11001f;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Colors */
  --color-lightHover: #EEEEEE;
  --color-darkHover: #393E46;
  --color-darkTheme: #222831;

  /* Font Families */
  --font-body: "Inter", sans-serif;
  --font-heading: "Urbanist", sans-serif;
  /* --font-heading: var(--font-poppins); */

  /* Box Shadows */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  /* Grid Template Columns */
  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  transition: background-color 0.3s ease, color 0.3s ease;
}