.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold) !important;
}

.nav__logo span {
    font-size: var(--h1-font-size);
    background-color: var(--accent);
    color: var(--container-color);
    padding: 0 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.7rem;
}

.nav__list {
    display: flex;
    gap: 4vw;
}

.nav__link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav__icon,
.nav__close,
.nav__toggle {
    display: none;
}

/* Active Link */
.active-link {
    border-bottom: 0.1rem solid var(--accent);
}

.active-link,
.nav__link:hover {
    color: var(--accent);
}

/*Change Background Header*/
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background-color: rgba(20, 20, 20, 0.6);
    transition: all .3s ease;
}

/*=============== BREAKPOINTS ===============*/
/* Large Laptop Devices */
@media screen and (max-width: 1441px) {}

/* Laptop Devices */
@media screen and (max-width: 1025px) {}

/* Tablet Devices */
@media screen and (max-width: 769px) {

    .nav {
        height: var(--header-height);
    }

    .nav__menu {
        transition: .3s;
    }

    .nav__icon {
        font-size: 0.8rem;
        display: block;
    }

    .nav__title {
        display: none;
    }

}

/* Mobile Devices */
@media screen and (max-width: 426px) {}

/* Small Mobile Devices */
@media screen and (max-width: 320px) {}