footer {
    background-color: var(--container-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 6rem;
}

.footer__title,
.footer__link {
    color: var(--title-color);
}

.footer__title {
    text-align: center;
    margin-bottom: var(--mb-2);
}

.footer__title span {
    background-color: var(--title-color-dark);
    color: var(--container-color);
    padding: 0.15rem 0.65rem;
    margin-right: 0.35rem;
    border-radius: 0.7rem;
}

.footer__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0.75rem;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}

.footer__link:hover {
    color: var(--title-color-dark);
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link {
    background-color: var(--title-color);
    color: var(--container-color);
    font-size: 1.125rem;
    padding: 0.35rem;
    border-radius: 0.4rem;
    display: inline-flex;
    cursor: pointer;
}

.footer__social-link:hover {
    background-color: var(--title-color-dark);
}

.footer__copy {
    display: block;
    margin-top: 4.5rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* Large Laptop Devices */
@media screen and (max-width: 1441px) {
    .footer__social-link {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}

/* Laptop Devices */
@media screen and (max-width: 1025px) {}

/* Tablet Devices */
@media screen and (max-width: 769px) {}

/* Mobile Devices */
@media screen and (max-width: 426px) {}

/* Small Mobile Devices */
@media screen and (max-width: 320px) {}