.testimonial__container {
    width: 100%;
}

.testimonial__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}

.testimonial__card:hover {
    transform: translateY(-4px);
}

.testimonial__img {
    width: 60px;
    border-radius: 50%;
    margin-bottom: var(--mb-1);
}

.testimonial__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.testimonial__description {
    font-size: var(--small-font-size);
}

/* Swiper Class */
.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--title-color) !important;
    transform: scale(1.2);
}

/*=============== BREAKPOINTS ===============*/
/* Large Laptop Devices */
@media screen and (max-width: 1441px) {
    .testimonial__container {
        width: initial;
    }

    .testimonial__card {
        padding: 1.25rem 1.5rem;
    }
}

/* Laptop Devices */
@media screen and (max-width: 1025px) {
    .testimonial__card {
        padding: 1rem;
    }
}

/* Tablet Devices */
@media screen and (max-width: 769px) {}

/* Mobile Devices */
@media screen and (max-width: 426px) {}

/* Small Mobile Devices */
@media screen and (max-width: 320px) {}