.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: var(--mb-2);
}

.work__item {
    cursor: pointer;
    color: var(--title-color);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
    -webkit-user-select: none;
    user-select: none;
}

.work__item:hover {
    background-color: var(--title-color);
    color: var(--container-color);
}

.work__container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2rem;
    justify-content: center;
}

.work__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    border-radius: 1rem;
    transition: 0.3s;
}

.work__card:hover {
    transform: translateY(-4px);
}

.work__img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
}

.work__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.work__description {
    font-size: var(--tiny-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.work__button {
    background-color: var(--title-color);
    color: var(--container-color);
    border: 1px solid var(--title-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
    width: max-content;
    padding: 0 1rem;
    min-height: 2rem;
    border-radius: 1rem;
}

.work__button-icon {
    font-size: 1rem;
    transition: 0.4s;
}

.work__button:hover .work__button-icon {
    transform: translateX(0.25rem);
}

/* Active Work */
.active-work {
    background-color: var(--title-color);
    color: var(--container-color);
}

/*=============== BREAKPOINTS ===============*/
/* Large Laptop Devices */
@media screen and (max-width: 1441px) {
    .work__container {
                grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;
    }

    .work__card {
        padding: 1rem;
    }

    .work__img {
        margin-bottom: 0.75rem;
    }

    .work__title {
        margin-bottom: 0.25rem;
    }
}

/* Laptop Devices */
@media screen and (max-width: 1025px) {
    .work__img {
        width: 100%;
    }
}

/* Tablet Devices */
@media screen and (max-width: 769px) {

    .work__container {
        grid-template-columns: repeat(2,1fr);
    }

    .work__item {
        font-size: var(--small-font-size);
    }

    .work__filters {
        column-gap: 0.25rem;
    }
}

/* Mobile Devices */
@media screen and (max-width: 426px) {
    .work__container {
        grid-template-columns: 1fr;
    }
}

/* Small Mobile Devices */
@media screen and (max-width: 320px) {}